@font-face {
  font-family: 'elise';
  src:url('/assets/fonts/elisegrotesque2-webfont.woff') format('woff');
}

h1 {
  font-size: 1em;
  color: black;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
}
